.feedbackBtnBox {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.feedbackBtn {
    font-size: medium;
    padding: 5px 25px 5px 25px;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 20px;
}
